{% extends 'base.html' %}
{% load static %}
{% block body %}
<style>
.gallery {
    display: block;
    margin-top: 30px;
    margin-bottom: 20px;
    border: 5px solid black;
    border-radius: 15px;
    text-align: right;
}</style>


<section>

<img src="https://source.unsplash.com/1600x900/?nature,water" class="gallery" />

<img src="https://source.unsplash.com/1600x900/?nature,mountains" class="gallery"/>

<img src="https://source.unsplash.com/1600x900/?nature,river" class="gallery" />



</section>


    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-a0bb"><div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1">Developed by Rohan Chourasiya</p>
      </div></footer>
{% endblock body %}